* {
    box-sizing: border-box;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    height: 100%; /* Should be removed. Only for demonstration */
  }
  
  .left, .right {
    width: 25%;
    height:calc(100vh - 40px);
  }
  
  .middle {
    width: 45%;
    overflow-y: scroll;
    height:calc(100vh - 40px);
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    background-color: greenyellow;
  }
  
  .idea{
      width: 90%;
      height: auto;
  }
  
  
  .status{
      border: 2px solid #ccc;
      border-radius: 5px;
      width: 90%;
      height: auto;
      background-color: white;
      margin-top: 1%;
      }
  
       .fa {
          font-size: 35px;
          cursor: pointer;
          user-select: none;
        }
        
        .fa:hover {
          color: darkblue;
        }  
        .imgdiv{
            border: 3% solid rgb(117, 103, 103);
            width: 75%;
            height: 25%;
            margin-left: 15%;
            margin-top: 10%;
        }
        .form-container {
          max-width: 99%;
          padding: 1%;
          background-color: white;
        }
        
        /* Full-width textarea */
        .form-container textarea {
         
          width: 100%;
          padding: 3%;
          margin: 5px 0 22px 0;
          border: none;
          background: #f1f1f1;
          resize: none;
        }
        .comment{
          resize: none;
          max-width: 99%;
          padding: 1%;
          background-color: white;
        }
        .comment textarea{
          width: 90%;
          resize: none;
    
        }
        
        /* When the textarea gets focus, do something */
        .form-container textarea:focus {
          background-color: #ddd;
          outline: none;
        }
        
        /* Set a style for the submit/send button */
        .form-container .btn {
          background-color: #4CAF50;
          color: white;
          padding: 16px 20px;
          border: none;
          cursor: pointer;
          width: 100%;
          margin-bottom:10px;
          opacity: 0.8;
        }
        
        /* Add a red background color to the cancel button */
        .form-container .cancel {
          background-color: red;
        }
        
        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
          opacity: 1;
        }
  
        .open-button {
          
          background-color:rgb(37, 37, 194);
          color: white;
          padding: 16px 20px;
          border: none;
          cursor: pointer;
          opacity: 0.8;
          width: 280px;
        }      
        .containerImage {
          border: 2px solid #ccc;
          background-color: #eee;
          border-radius: 5px;
          padding: 16px;
          margin: 16px 0
        }
        
        .status::after {
          content: "";
          clear: both;
          display: table;
        }
        
        .status img {
          float: left;
          margin-right: 20px;
          border-radius: 50%;
        }
        
        .status span {
          font-size: 20px;
          margin-right: 15px;
        }
        
        @media (max-width: 500px) {
          .status {
              text-align: center;
          }
          .status img {
              margin: auto;
              float: none;
              display: block;
          }   
            
            /* The popup chat - hidden by default */
            .chat-popup {
              display: none;
              min-width: 80%;
              border: 3px solid #f1f1f1;
              z-index: 9;
            }
            
            /* Add styles to the form container */
            .form-container {
              max-width: 100%;
              padding: 2%;
              background-color: white;
            }
            
            /* Full-width textarea */
            .form-container textarea {
              width: 100%;
              
              margin: 5px 0 22px 0;
              border: none;
              background: #f1f1f1;
              resize: none;
              min-height: 50px;
            }
            
            /* When the textarea gets focus, do something */
            .form-container textarea:focus {
              background-color: #ddd;
              outline: none;
            }
            
            /* Set a style for the submit/send button */
            .form-container .btn {
              background-color: #4CAF50;
              color: white;
              padding: 16px 20px;
              border: none;
              cursor: pointer;
              width: 100%;
              margin-bottom:10px;
              opacity: 0.8;
            }
            
            /* Add a red background color to the cancel button */
            .form-container .cancel {
              background-color: red;
            }
            
            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
              opacity: 1;
            } 