{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'Login/main.css' %}">

    <style>
        .fullbody {
            background-color: rgb(14, 17, 17);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            resize: none;

        }

        .divElement {
            border-radius: 10px;
            width: 40%;
            height: 73%;
            background-color: white;
            display: block;
            margin-top: 6%;

        }
    </style>
</head>

<body>
    <div align="center" class="fullbody">
        <div style="margin-top: 2%">
            {% for message in messages %}
            <h3 style='-webkit-text-fill-color: red'>{{message}}</h3>
            {% endfor %}
        </div>
        <div align="center" class="divElement">
            <div style="margin-bottom: 4%;">
                <h1 align='center'>Create an account</h1>
            </div>


            <form action="{% url 'polls:registration' %}" method="POST">
                {% csrf_token %}
                <div class="wrap-input100 validate-input" style="width: 60%;">
                    <input class="input100" type="text" name="FName" placeholder="First Name">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" style="width: 60%;">
                    <input class="input100" type="text" name="LName" placeholder="Last Name">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" style="width: 60%;">
                    <input class="input100" type="email" name="Email" placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" style="width: 60%;">
                    <input class="input100" type="password" id="pass1" name="Password1" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" style="width: 60%;">
                    <input class="input100" type="password" id="pass2" name="Password2" oninput="passwordCheck()"placeholder="Retype password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn" style="width:60%">
                    <input class="login100-form-btn" type="submit" id="btn" disabled value="Sign up">
                </div>


                <div class="text-center p-t-136" style="margin-top:5%;text-decoration: none;">
                    <a class="txt2" href="login" style="text-decoration: none;">
                        already have an account?
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>

            </form>

        </div>
    </div>

    <script>
        function passwordCheck() {
            var pass1 = document.getElementById("pass1").value;
            var pass2 = document.getElementById("pass2").value;
            if(pass1 == pass2){
                document.getElementById('pass2').style.color = 'gray';
                document.getElementById("btn").disabled = false;
            }else{
                document.getElementById('pass2').style.color = 'red';
                document.getElementById("pass2").innerHTML = "not matching"
            }

        }
    </script>

</body>

</html>