{% extends 'navbar.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'timeline.css' %}">

</head>
<body>

<div class="row">   
  <div class="column left" style="background-color:#aaa;">
        <div onmouseover="mouseOver(this)">
            <img title="update" class="imgdiv" src="media/rumi.jpg" alt="">
        </div>
  </div>

  <div align = "center" class="column middle" style="background-color:rgb(187, 187, 187);">
        <div class="idea"  >
            <form class="form-container" action="status" method="POST">
                        {% csrf_token %}
                <div >
                    <textarea onclick="showbutton()" placeholder="What's on your mind ???" name="status" required></textarea>
                </div>
                        
               
                <input type="submit" class="open-button" id="share" value="Share">
                
            </form>
        </div>

                    {% for s in status %}

                <div  class="status" onmouseover="hidebutton()">
                    <div class="row">
                        <div style="margin-left: 2%;height:8%">
                            <img  src="media/rumi.jpg" alt="Avatar" style="width:8%">
                            <a align = "left"  href="#">{{s.name}} </a>
                        </div>
                    </div>

                    <div style="color: rgb(9, 9, 10);width:90%">
                         <p > {{s.status}}</p> 
                    </div>
                    
                    <div class="rowlike" >
                        <div class="columnlike" id="like" >
                            <i onmouseout="out(this)" onmouseover="move(this, '{{s.like}}')" onclick="like(this)"  class="fa fa-thumbs-up" ></i>
                        </div> 
                          
                        <div class="columnlike"  >
                            <i class="fa fa-comment"></i>
                        </div>                       
                    </div>
                
                </div>

                {% endfor %}
                 
  </div>

  <div align = "center" class="column right" style="background-color:#ccc">
        <button class="open-button" style="width: 100%" onclick="openForm()">Chat</button>
        <div class="chat-popup" id="myForm">
                <form action="" class="form-container">
                  <h1>Chat</h1>
              
                  <textarea placeholder="Type message." name="msg" required></textarea>
              
                  <button type="submit" class="btn">Send</button>
                  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
              </div>
    </div>
</div>

<script>
    function move(x, s){
        x.innerHTML = s;
    }

    function out(x){
        x.innerHTML = "";
    }

    function like(x){
        x.classList.toggle("fa-thumbs-down");

    }

    function hidebutton(){
        document.getElementById("share").style.display = "none";
    }

    function showbutton(){
        document.getElementById("share").style.display = "block";
    }

    function openForm() {
        document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
        document.getElementById("myForm").style.display = "none";
        }
</script>

</body>
</html>
{% endblock %}